body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 70%;
}

.close-modal {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
    line-height: 1.4;
    z-index: -1;
}

.modal-contentUser {
    position: absolute;
    top: 20%;
    left: 35%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 70%;
}

.close-modalUser {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
    line-height: 2;
    z-index: -1;
}

.game-container {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

.card {
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 20px;
    background-color: #312838;
}

.card-font {
    text-align: center;
    color: #ffffff;
}

.card-image img {
    width: 100%;
}

.card-action {
    background-color: #ff9900;
    color: #ffffff;
    text-align: center;
    padding: 10px 30px;
    padding: .1rem;
    border-radius: 10px;
}
.submit-button
{
    color: #000000;
	padding: 10px 30px;
    text-align: center;
	cursor: pointer;
	display: block;
	margin: auto;
	border: 0;
	outline: none;
	border-radius: 30px;
}
